*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.layoutAwal {
  /* background: url(Foto/bg1.png); */
  width: 100%;
  height: 21vh;
  /* margin-top: -15px; */
  background-size: cover;
  animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../Foto/bg1.png);
  }

  50% {
    background-image: url(../Foto/bg2.png);
  }

  75% {
    background-image: url(../Foto/bg8.jpg);
  }
}

nav {
  background-color: rgb(138, 136, 136, 20%);
  padding: 5px;

  width: 100%;
  z-index: 1000;
  display: flex;
  position: fixed;
  justify-content: space-around;
  /* align-items: center; */
}

.navhome {
  margin-left: 200px;
}

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

li {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 20px;
  color: white;
  font-size: 17px;
  margin-top: 5px;
  /* margin-top: 2px; */
  align-items: center;
  /* padding: 1px 1px 5px 0px; */
}
.user,
.trolley {
  position: relative;
  left: 300px;
  font-size: 30px;
  text-align: left;
  margin-left: 0;
  /* padding-left: 500px; */
}

.trolley {
  position: relative;
  top: 8px;
  font-size: 25px;
  text-align: left;
  /* margin-top: 10px; */
}
.search {
  padding-left: 100%;
}
.fitur {
  justify-content: space-around;
}
.dropbtn {
  /* display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */
  color: white;
  opacity: 0.9;
  font-size: 35px;
  position: relative;
  display: flex;
  height: 30px;
  width: 30px;
  top: -3px;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: 270px;
}

.dropdown:hover .dropbtn {
  /* background-color: #685f5f; */
  transition: all 0.5s ease;
  color: #000000;
}

li.dropdown {
  display: inline-block;
  /* position: relative; */
}

.dropdown-content {
  display: block;
  opacity: 0.8;
  position: absolute;
  top: 65px;
  /* right: 0; */
  right: -295px;
  background: rgb(200, 199, 199);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  transition: 0.8s;
}
.dropdown-content :hover {
  background: black;
  color: white;
  border-radius: 5px;
}
.dropdown::before {
  border-color: transparent;
  background: transparent;
}
.dropdown::after {
  content: "";
  position: absolute;
  top: 45px;
  right: -248px;
  transform: translateX(-50%);
  border: 10px solid;
  /* background: rgb(200, 199, 199); */
  opacity: 0.8;
  border-color: transparent transparent rgb(200, 199, 199) transparent;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}
a {
  text-decoration: none;
  padding: 8px;
  color: white;
  position: relative;
  display: flex;
  list-style-type: none;
  text-transform: capitalize;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}

li img {
  position: relative;
  top: 6px;
  width: 30px;
  height: 32px;
  border-radius: 50%;
  /* margin-top: 7px */
}

.awal {
  position: relative;
  bottom: 180px;
  top: 10vh;
  /* left: 200px; */
  /* justify-content: center; */
  justify-content: left;
  left: -450px;
  margin-left: 5%;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.judul {
  margin-top: 10px;
  text-align: center;
  justify-items: center;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 3s steps(27);
  /* margin-left: 50%; */
}

@keyframes typingAnim {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Search */
::selection {
  color: #fff;
  background: #000000;
}
.search-box {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.search-box.active {
  width: 350px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 0 20px 0 5px;
  font-size: 18px;
  opacity: 0;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.search-box input.active {
  opacity: 1;
}
.search-box input::placeholder {
  color: #a6a6a6;
}
.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active {
  right: 5px;
  height: 45px;
  line-height: 50px;
  width: 45px;
  font-size: 20px;
  background: #000000;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
/* .search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: rgb(10, 10, 10);
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */
.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data {
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}
.search-box .search-data.active {
  display: none;
}

/* Produk Best Seller (Grid) */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: white;
  margin-top: 90px;
}

.product-container {
  padding: 1vw 7vw 1vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  margin-right: 40px;
  background: black;
}
.product-card:hover {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  margin-right: 40px;
  /* background: rgb(81, 81, 81); */
  cursor: pointer;
}

.product-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #040404;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 42px;
}

.pagination .aktif {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #000000;
  border-radius: 20%;
  text-decoration: none;
  padding: 8px 12px;
  position: relative;
  display: flex;
}
.pagination .off {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  /* background-color: #df4a4a; */
  border-radius: 20%;
  text-decoration: none;
  padding: 8px 12px;
  position: relative;
  display: flex;
}
.pagination .off:hover {
  opacity: 0.7;
}
.pagination .aktif:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 0.5;
}
.pagination .aktif:visited {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.cart-tag:hover {
  background: black;
  color: white;
  transition: 0.4s;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: black;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-align: center;
}
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  color: white;
  text-align: center;
}

.price {
  font-weight: 900;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  margin-left: 70px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(100, 99, 99, 0) 0%, rgb(0, 0, 0) 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.layoutKetiga {
  width: 100%;
  height: 30%;
  background-color: black;
  display: flex;
  margin: 0;

  /* Gradasi Pinggir sek meker" warna sing cocok */
  /* background: linear-gradient(90deg, rgba(100, 99, 99, 0) 0%, rgb(39, 38, 38) 100%); */
}
.layoutKetiga {
  width: 100%;
  height: 30%;
  background-color: rgb(4, 4, 4);
  display: flex;
  margin: 0;

  /* Gradasi Pinggir sek meker" warna sing cocok */
  /* background: linear-gradient(90deg, rgba(100, 99, 99, 0) 0%, rgb(39, 38, 38) 100%); */
}

.layoutKetiga .kiri {
  position: relative;
  width: 30%;
}
.kiri img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
  position: static;
  margin-bottom: 0;
}
.layoutKetiga .kanan {
  color: white;
  width: 70%;
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 120px;
  text-align: left;
}
.layoutKetiga .kanan h3 {
  font-size: 25px;
  margin-bottom: 70px;
  /* margin-left: 20%; */
  text-align: left;
}
.layoutKetiga .kanan p {
  font-size: 18px;
  text-align: left;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
}
.footer {
  background-color: rgb(31, 30, 30);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-left {
  width: 30%;
}
.footer h3 {
  color: white;
  padding-bottom: 20px;
  margin: 0;
}

.footer .footer-left img {
  width: 20%;
  vertical-align: middle;
}
.footer-left .ewallet {
  width: 100%;
}
.footer .copyright {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #555252;
  color: black;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  margin-left: 0px;
}
.footer .footer-center i:hover {
  color: white;
  transition-duration: 0.3s;
}
.footer-center i .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0px;
}
.footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-center a {
  color: white;
}

.footer .footer-right {
  width: 30%;
}
.footer-right .about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-right p {
  color: #c9c8c8;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right .media {
  margin-top: 25px;
}
.footer-right .media a {
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: #555252;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 42px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-right .media a:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
@media (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }
}
