*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.layoutAwal {
  width: 100%;
  height: 21vh;
  background-size: cover;
  animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../Foto/bg1.png);
  }

  50% {
    background-image: url(../Foto/bg2.png);
  }

  75% {
    background-image: url(../Foto/bg8.jpg);
  }
}

nav {
  background-color: rgb(138, 136, 136, 20%);
  padding: 5px;
  /* position: fixed; */
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}

.navhome{
  margin-left: 200px;
}

ul{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.layoutAwal li {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 20px;
  color: white;
  font-size: 17px;
  margin-top: 5px;
  align-items: center;
}
.user,.trolley{
  position: relative;
  left: 300px;
  font-size: 30px;
  text-align: left;
  margin-left: 0;
}

.trolley{
  position: relative;
  top: 7px;
  font-size: 25px;
  text-align: left;
}
.search {
  padding-left: 100%;
}
.fitur{
  justify-content: space-around;
}
.dropbtn {
  color: white;
  opacity: 0.9;
  font-size: 35px;
  position: relative;
  display: flex;
  height: 30px;
  width: 30px;
  top: -8px;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: 270px;
}

.dropdown:hover .dropbtn {
  transition: all 0.5s ease;
  color: #000000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: block;
  opacity: 0.8;
  position: absolute;
  top: 55px;
  /* right: 0; */
  right: -295px;
  background: rgb(200, 199, 199);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  transition: 0.8s;
}
.dropdown-content :hover{
  background: black;
  color: white;
  border-radius: 5px;
}
.dropdown::before{
  border-color: transparent;
  background: transparent;
}
 .dropdown::after{
  content: "";
  position: absolute;
  top: 35px;
  right: -248px;
  transform: translateX(-50%);
  border: 10px solid;
  opacity: 0.8;
  border-color: transparent transparent rgb(200, 199, 199) transparent;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}
a {
  text-decoration: none;
  padding: 8px;
  color: white;
  position: relative;
  display: flex;
  list-style-type: none;
  text-transform: capitalize;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}

li img {
  position: relative;
  top: 6px;
  width: 30px;
  height: 32px;
  border-radius: 50%;
}

.wadah{
  /* background: transparent; */
  opacity: 0.1;
  background-color: #333;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10;
  margin-left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 1;
  background: rgb(241, 239, 239);
}
.wadah1{
  /* background: transparent; */
  opacity: 0.1;
  background-color: #333;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10;
  margin-left: 0;
  padding-bottom: 20px;
  padding-top: 0px;
  opacity: 1;
  background: rgb(241, 239, 239);
}
.container{
  height: 81vh;
  opacity: 1;
  background-color: #ffffff;
 margin-left: 70px;
 margin-right: 70px;
 box-shadow: #cecece 0.5px 0.5px 5px 1.5px;
 /* padding-bottom: -1200vh; */
}
.container1{
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 1;
  background-color: #ffffff;
 margin-left: 70px;
 margin-right: 70px;
 box-shadow: #cecece 0.5px 0.5px 5px 1.5px; 
 /* background-color: plum; */
}
.product-container {
  /* width: 60vh; */
  width: 40%;
  height: 65vh;
  background: linear-gradient(47, 47, 46);
  padding: 1vw 1vw 1vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  padding: 50px;
  position: relative;
}

.product-image {
  /* position: relative; */
  position: static;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail{
width: 40%;
position: relative;
padding-left: 20px;
padding-top: 20px;
right: -47%;
top: -500px;
background-color: rgb(255, 255, 255);
}
.detail1{
width: 50%;
position: relative;
display: inline-block;
padding-left: 20px;
padding-top: 20px;
}
.nama-product{
  /* margin-top: -100vx; */
  padding-top: 0px;
  font-size: 16px;
}
.nama-product h1{
  margin-top: -10px;
  margin-bottom: 20px;
}
.btn-size{
  padding: 4px 20px 5px 20px ;
  margin-bottom: 10px;
  outline: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  /* padding: 10px; */
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  box-sizing: none;
  border: none;
  color: #000000;
  box-shadow: #cecece 0.5px 0.3px 0.5px 1px;
}
.btn-size:hover{
  padding: 4px 20px 5px 20px ;
  margin-bottom: 10px;
  outline: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  /* padding: 10px; */
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  box-sizing: none;
  border: none;
  color: #000000;
  box-shadow: #000000 0.2px 0.3px 0.5px 1.5px;
}
.size{
  margin-top: 20px;
  margin-bottom: 10px;
}
.num{
  width: 35px;
  /* border: none; */
  border-color: #555252;
  border-radius: 3px;
}
.ukuran{
  margin-left: 100px;
  margin-top: -30px;
}
.wrapper{
  opacity: 0.8;
  width: 12%;
  height: 40px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(252, 252, 252);
  border-radius: 5px;
  /* box-shadow: #cecece 0.5px 0.5px 5px 1.5px; */
  box-shadow: #cecece 0.5px 0.3px 0.5px 1px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-top: -30px;
}
.wrapper span{
  width: 100%;
  text-align: center;
  font-size: 18px;
  /* font-weight: 600; */
  /* font-weight: 500; */
  cursor: pointer;
  user-select: none;
  font-style: normal;
  
}
.wrapper span.num{
  font-size: 16px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
}
.btn-cart{
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  box-shadow: #cecece 0.5px 0.5px 5px 1.5px;
  margin-right: 15px;
}
.btn-cart:hover{
  opacity: 0.85;
  background-color: #ffffff;
  color: #000000;
  transition: 0.5;
}
.btn-buy{
  margin-right: 100px;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
  /* border: none;
  outline: none; */
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  color: #c9c8c8;
  box-shadow: #cecece 0.5px 0.5px 5px 1.5px;
}
.btn-buy:hover{
  opacity: 0.85;
  background-color: #000000;
  color: #c9c8c8;
  transition: 0.5;
}
.deskripsi{
  padding-left: 30px;
  /* padding-top: 30px; */
}
.deskripsi h3{
  font-size: 17px;
  font-weight: 50px;
  font-style: normal;
  /* padding-top: 40px; */
}
.deskripsi span{
  font-size: 16px;
  font-weight: normal;
  font-style: normal; 
}
.deskripsi p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
 /* color: yellow; */
}

/* FOOTER */
footer{
  position:fixed;
  bottom: 0;
 }
 .footer{
  background-color:rgb(31, 30, 30);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
 }
 .footer .footer-left,
 .footer .footer-center,
 .footer .footer-right{
  display: inline-block;
  vertical-align: top;
 }
 @media (max-height:800px){
  footer{
    position: static;
  }
  header{
    padding-top: 40px;
  }
 }
 .footer-left{
  width: 30%;
 }
 .footer h3{
  color: white;
  padding-bottom: 20px;
  margin: 0;
 }

 .footer .footer-left img{
  width: 20%;
  vertical-align: middle;
 }
 .footer-left .ewallet{
  width: 100%;
 }
 .footer .copyright{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
 }
 .footer .footer-center{
  width: 35%;
 }
 .footer .footer-center i{
  background-color: #555252;
  color: black;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  margin-left: 0px;
 }
 .footer .footer-center i:hover{
  color: white;
  transition-duration: 0.3s;
}
 .footer-center i .fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
 .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0px;
 }
 .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
 }
 .footer-center a{
  color:white;
 }

.footer .footer-right{
  width: 30%;
}
.footer-right .about{
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right span{
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-right p{
  color: #c9c8c8;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right .media{
  margin-top: 25px;
}
.footer-right .media a{
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: #555252;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 42px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-right .media a:hover{
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
@media (max-width: 880px){
  .footer .footer-left,
 .footer .footer-center,
 .footer .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
}
}