*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.layoutAwal {
  width: 100%;
  height: 21vh;
  background-size: cover;
  animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../Foto/bg1.png);
  }

  50% {
    background-image: url(../Foto/bg2.png);
  }

  75% {
    background-image: url(../Foto/bg8.jpg);
  }
}

nav {
  background-color: rgb(138, 136, 136, 20%);
  padding: 5px;
  /* position: fixed; */
  width: 99%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}

.navhome{
  margin-left: 200px;
}

ul{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.layoutAwal li {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 20px;
  color: white;
  font-size: 17px;
  margin-top: 5px;
  align-items: center;
}
.user,.trolley{
  position: relative;
  left: 300px;
  font-size: 30px;
  text-align: left;
  margin-left: 0;
}

.trolley{
  position: relative;
  top: 7px;
  font-size: 25px;
  text-align: left;
}
.search {
  padding-left: 100%;
}
.fitur{
  justify-content: space-around;
}
.dropbtn {
  color: white;
  opacity: 0.9;
  font-size: 35px;
  position: relative;
  display: flex;
  height: 30px;
  width: 30px;
  top: -8px;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: 270px;
}

.dropdown:hover .dropbtn {
  transition: all 0.5s ease;
  color: #000000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: block;
  opacity: 0.8;
  position: absolute;
  top: 55px;
  /* right: 0; */
  right: -295px;
  background: rgb(200, 199, 199);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  transition: 0.8s;
}
.dropdown-content :hover{
  background: black;
  color: white;
  border-radius: 5px;
}
.dropdown::before{
  border-color: transparent;
  background: transparent;
}
 .dropdown::after{
  content: "";
  position: absolute;
  top: 35px;
  right: -248px;
  transform: translateX(-50%);
  border: 10px solid;
  opacity: 0.8;
  border-color: transparent transparent rgb(200, 199, 199) transparent;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}
a {
  text-decoration: none;
  padding: 8px;
  color: white;
  position: relative;
  display: flex;
  list-style-type: none;
  text-transform: capitalize;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}

li img {
  position: relative;
  top: 6px;
  width: 30px;
  height: 32px;
  border-radius: 50%;
}

/* ISI */
.wadah{
  /* background: transparent; */
  opacity: 0.1;
  background-color: #333;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10;
  margin-left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 1;
  background: rgb(241, 239, 239);
}

.container{
  padding: 40px;
  height: auto;
  opacity: 1;
  background-color: #ffffff;
 margin-left: 70px;
 margin-right: 70px;
 background-image: url(../Foto/p2.webp);
 background-size: cover;
 box-shadow: #cecece 0.5px 0.5px 5px 1.5px;
 /* padding-bottom: -1200vh; */
}
.conten{
  padding: 0;
  width: 100%;
  /* background-color: palegoldenrod; */
  /* padding-left: 100px; */
}
.conten h1{
  text-align: center;
  font-size: 20x;
}
form{
  width: 100%;
}
.p1{
  width: 100%;
  height: auto;
  /* background-color: palegoldenrod; */
}
.no{
  text-align: right;
}
table{
  margin-top: 20px;
  margin-left: 10%;
  /* background-color: palevioletred; */
  /* border: 1px solid rgb(0, 0, 0); */
  width: 90%;
  /* margin: auto; */
  border-collapse: collapse;
}
td, th{
  font-size: 17px;
  padding: 5px;
}
.grand{
  font-weight: 600;
}
input[type=text]{
  width: 400px;
  padding: 6px;
  cursor: pointer;
  /* border-color: #333; */
  margin: 3px;
}
.my_file{
  left: 53px;
  outline: none;
  color: trasparent;
  width: 100%;
  box-sizing: border-box;
  /* padding: 15px -10px 5px; */
  padding-right: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.my_file::-webkit-file-upload-button{
  /* visibility: hidden; */
  opacity: 0.7;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.my_file::-webkit-file-upload-button:hover{
  /* visibility: hidden; */
  opacity: 0.8;
  background-color: rgb(86, 85, 85);
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s;
}
.my_file::before{
  /* content:'/f030'; */
  font-family: fontAwesome;
  font-size: 20px;
}
.info{
  display: flex;
  padding-top: 20px;
}
.p2{
  padding-top: 100px;
  /* padding-left: 30%; */
  justify-items: center;
  width: 15%;
  height: auto;
  /* background-color: rgb(238, 173, 170); */
}
.p3{
  padding-top: 50px;
  width: 85%;
  height: auto;
  /* background-color: rgb(170, 238, 180); */
  font-size: 14px;
}
.warming{
  font-size: 16px;
  color: red;
  font-weight: 600;
}
.konfir{
  width: 130px;
  padding: 7px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  /* box-shadow: #cecece 0.5px 0.5px 5px 1.5px; */
}
.konfir:hover{
  opacity: 0.7;
  background-color: #000000;
  color: #c9c8c8;
  box-shadow: #cecece 0.5px 0.5px 5px 1.5px;
  transition: 0.8;
}
/* FOOTER */
footer{
  position:fixed;
  bottom: 0;
 }
 .footer{
  background-color:rgb(31, 30, 30);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
 }
 .footer .footer-left,
 .footer .footer-center,
 .footer .footer-right{
  display: inline-block;
  vertical-align: top;
 }
 @media (max-height:800px){
  footer{
    position: static;
  }
  header{
    padding-top: 40px;
  }
 }
 .footer-left{
  width: 30%;
 }
 .footer h3{
  color: white;
  padding-bottom: 20px;
  margin: 0;
 }

 .footer .footer-left img{
  width: 20%;
  vertical-align: middle;
 }
 .footer-left .ewallet{
  width: 100%;
 }
 .footer .copyright{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
 }
 .footer .footer-center{
  width: 35%;
 }
 .footer .footer-center i{
  background-color: #555252;
  color: black;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  margin-left: 0px;
 }
 .footer .footer-center i:hover{
  color: white;
  transition-duration: 0.3s;
}
 .footer-center i .fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
 .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0px;
 }
 .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
 }
 .footer-center a{
  color:white;
 }

.footer .footer-right{
  width: 30%;
}
.footer-right .about{
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right span{
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-right p{
  color: #c9c8c8;
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer-right .media{
  margin-top: 25px;
}
.footer-right .media a{
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: #555252;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 42px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-right .media a:hover{
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
@media (max-width: 880px){
  .footer .footer-left,
 .footer .footer-center,
 .footer .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
}
}